// responsive width variables moved to colors so that the variables may be used here ^^

// header responsive width
$mobile-max-width:          1100px;
$mobile-card-breakpoint:    1050px;
$mobile-card-breakpoint-2:  600px;
$mobile-width-header:       768px;
$mobile-width-400:          400px;

$mobile-button-breakpoint:  768px;
$mobile-button-breakpoint-2:450px;

// font variables
$bold: 'HKBold';
$bold-italic: 'HKBoldItalic';
$medium: 'HKMedium';
$medium-italic: 'HKMediumItalic';


html{
    margin: 0 0 0 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background: $base-dark;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}
h1,h2,h3,h4,h5,p,a,b{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: $bold;
    font-size: 54px;
    font-weight: normal;
}

h2 {
    font-family: $bold;
    font-size: 54px;
    font-weight: normal;
}

h3 {
    font-family: $bold;
    font-size: 34px;
    font-weight: normal;
}

h4 {
    font-family: $bold;
    font-size: 24px;
    font-weight: normal;
}

h5 {
    font-family: $bold;
    font-size: 14px;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    font-weight: normal;
}

P {
    font-family: $medium;
    font-size: 16px;
}

b {
    font-family: $bold;
}

i {
    font-family: $medium-italic;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

span{
    font-family: $bold;
}

ul {
    font-family: $bold;
}
main {									// content wrap
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 8%;

    a {
        color: $sub-base;
    }

    section {

        p {
            margin-bottom: 40px;
            line-height: 2;

            small {
                font-size: 11px;
            }
        }
    }
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 6%;
}

input:not([type]), input[type="email" i], input[type="number" i], input[type="password" i], input[type="tel" i], input[type="url" i], input[type="text" i] {
    padding: 0;
}
::placeholder{
    color: #FFFFFF;
    font-family: montserratregular;
}


@media screen and (max-width: $mobile-width-header){
		main {
			padding: 50px 5% 0 5%;
		}
}

@media screen and (max-width: $mobile-width-400){
		main {
			padding: 30px 4% 0 4%;
		}
}
