$accent: #FFC383;
$accent-translucent-90: rgba(255,195,131,0.9);
$accent-translucent-25: rgba(255,195,131,0.25);
$base-light: #FFFFFF;
$base-light-translucent-15:rgba(255,255,255,0.15);
$base-dark: #010415;
$base-dark-translucent-90: rgba(1,4,21,0.9);
$base-dark-translucent-15: rgba(1,4,21,0.15);
$base-dark-clear: rgba(1,4,21,0);
$sub-base: #27AD88;
$base-dark-header: rgba(13,18,48,0.3);
