#footer{
    background-color: $base-dark;
    border-top: 1px rgba(255,255,255,.1) solid;
    margin-top: 80px;
    .footerwrap{
        max-width: 1000px;
        padding: 40px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        a{
          display: flex;
          justify-content: space-around;
          padding: 40px 20px;
        }
    }
}
