.landing{
    height: auto;
    width: 100%;
    position: relative;

    .landing-background {
	    background-image: url(../images/background-landing.jpg);
	    background-size: cover;
      background-position: center;
	    height: 100%;
	    width: 100%;
	    position: absolute;
	    z-index: -2;
    }

    .middlewrap {
        color: $base-light;
        margin: 0 auto;
        max-width: 1000px;
        padding-top: 175px;
        padding-bottom: 200px;
        text-align: left;

        h1 {
            line-height: 1;
        }

        p {
            line-height: 28px;
            padding-top: 30px;
            width: 70%;
            font-size: 18px;
            margin-bottom: 30px;
        }
        a {
            font-family: $medium;
            margin: 0;
        }
    }
}

.overlay {
	background-image: linear-gradient(180deg, $base-dark-translucent-15 0%, $base-dark 100%);
	height: 100%;
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: -1;
}

.featured-collections, .featured-records{
    height: auto;
    width: 100%;
    .collectionwrap{
        margin: 0 auto;
        max-width: 1000px;
        .wrap-header {
          margin-bottom: 25px;
          display: flex;
          align-items: center;
          h5 {
              color: $base-light;
              margin-right: 25px;
          }
        }
    }
}

.featured-collections{
	padding: 65px 0 65px;
  margin-top: -150px;
}

.featured-records{
	padding: 0 0 65px;
}

.collectionwrap{
    transition: all .2s ease-in-out;
    position: relative;
    .cardwrap {
      overflow: scroll;
    }
    .arrow-left,
    .arrow-right {
        opacity: 0;
        background: url(../images/template_images/chevron-down.svg) no-repeat;
        background-position: 19px;
        border: none;
        border-radius: 5px;
        height: 50px;
        position: absolute;
        top: 48%;
        transition: all .2s ease-in-out;
        width: 50px;
        z-index: 11;
        &:hover {
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
    }
    .arrow-right {
        background-color: $accent-translucent-90;
        margin-right: -20px;
        right: 0;
        transform: rotate(-90deg);
        &:hover {
          background-color: $accent;
        }
    }
    .arrow-left {
        background-color: $base-light-translucent-15;
        margin-left: -20px;
        transform: rotate(90deg);
        &:hover {
          background-color: $accent;
        }
    }
    &:hover {
      .arrow-left,
      .arrow-right{
        opacity: 100%;
      }
    }
    .slider-overlay {
      background-image: linear-gradient(270deg, $base-dark 0%, $base-dark-clear 100%);
      position: absolute;
      bottom: 0;
      right: 0;
      width: 70px;
      height: calc(100% - 40px);
      z-index: 10;
    }
}


.search-home{
  form {
      position: relative;

      .search-field{
         background: transparent;
          color: $base-light;
          float: left;
          font-size: 16px;
          height: 50px;
          margin: 0;
          outline: none;
          padding-left: 10px;
          transition: all 0.2s ease;
          width: calc(100% - 82px);

          &:hover{

          }
          &:focus-within{

          }

          input {
              margin-left: 10px;
          }
      }

      .search-submit{
          border: none;
          background-color: transparent;
          background-image: url(../images/template_images/search.svg);
          background-position: center;
          background-repeat: no-repeat;
          color: transparent;
          cursor: pointer;
          height: 50px;
          margin-left: 10px;
          outline: none;
          text-decoration: none;
          transition: opacity 0.3s ease;
          width: 50px;

          &:hover{
              opacity: 0.9;
          }
      }
  }
  .searchwrap{
      margin: 0 auto;
      max-width: 1000px;
      h5 {
        color: $base-light;
        margin-bottom: 30px;
      }
      p {
          color: $base-light;
          letter-spacing: 3.5px;
          margin-bottom: 20px;
      }
      .search-box {
          border-radius: 5px;
          position: relative;

          .background{
            background-image: url(../images/background-landing.jpg);
			      background-size: cover;
            border-radius: 5px;
            opacity: .5;
            height: 100%;
			      width: 100%;
			      position: absolute;
			      top: 0;
			      z-index: -1;
          }

          .search-contents {
            padding: 50px;

            h4{
              color: $base-light;
              margin-bottom: 15px;
            }
            .search-field{
              box-sizing: border-box;
              height: 60px;
              border: 1px solid rgba(255,255,255,0.45);
              border-radius: 5px;
              background-color: $base-light-translucent-15;
              box-shadow: 0 10px 15px 0 $base-dark-translucent-15;
              padding-left: 20px;
            }
            .search-submit{
              box-sizing: border-box;
              height: 60px;
              width: 60px;
              border: 1px solid $accent;
              background-color: $accent-translucent-25;
              border-radius: 5px;
              transition: 0.3s;
            }
            .search-submit:hover{
              background-color: $accent;
           	}
        }
      }
  }
}

@media screen and (max-width: $mobile-width-400){

}

@media screen and (max-width: $mobile-card-breakpoint){
    .slider-overlay {
      display: none;
    }
    .collectionwrap{
        padding: 0 0 0 6%;
        .arrow-right {
          margin-right: 3%;
        }
    }
}

@media screen and (max-width: $mobile-card-breakpoint-2){

	.search {
	    .searchwrap{
	        .search-box {
	            .search-contents {
		            padding: 30px;
		            .search-field{
						       width: 100%;
		            }

		            .search-submit{
			            margin-left: 0;
			            margin-top: 10px;
			            width: 100%;
		            }
		        }
	        }
	    }
    }
	}
