.main{
    height: auto;
    width: 100%;
    position: relative;
    
    .background {
	    background-image: url(../images/background-landing.jpg);
	    background-size: cover;
	    height: 100%; 
	    width: 100%;
	    position: absolute;
	    z-index: -2;
    }

    .middlewrap {
        color: $base-light;
        margin: 0 auto;
        max-width: 1000px;
        padding-top: 175px;
        padding-bottom: 200px;
        text-align: left;

        h1 {
            line-height: 1;
        }

        p {
            line-height: 28px;
            padding-top: 30px;
            width: 70%;
            a {
                letter-spacing: 3.5px;
                color: $accent;
                border-bottom: 2px solid rgba(255, 195, 131, 0.25);
                transition: border 0.2s;
                white-space: nowrap;
            }
            a:hover {
              border-bottom: 2px solid $accent;
            }
        }
    }
}

 .overlay {
	    background-image: linear-gradient(180deg, $base-dark-translucent 0%, $base-dark 100%);
	    height: 100%;
		position: absolute;
		width: 100%;
		bottom: 0;
		z-index: -1;
    }

.featured-collections, .featured-records{
    height: auto;
    width: 100%;
    .collectionwrap{
        margin: 0 auto;
        max-width: 1000px;
        p {
            color: $base-light;
            letter-spacing: 3.5px;
            margin-bottom: 20px;
            a {
                letter-spacing: 3.5px;
                color: $accent;
                margin-left: 15px;
                border-bottom: 2px solid rgba(255, 195, 131, 0.25);
                transition: border 0.2s;
            }
            a:hover {
              border-bottom: 2px solid $accent;
            }
        }
    }
}

.featured-collections {
	margin-top: -150px;	
}

.featured-records{
	padding: 0 0 65px;
    .collectionwrap{
        transition: 400ms;
        position: relative;
        .cardwrap {
          overflow: hidden;
        }
        .arrow-left,
        .arrow-right {
            display: none;
            background: url(../images/template_images/chevron-down.svg) no-repeat;
            background-color: rgba(255,255,255,0.15);
            background-position: 19px;
            border: none;
            border-radius: 5px;
            height: 50px;
            position: absolute;
            top: 50%;
            transition: 400ms;
            width: 50px;
            z-index: 2;
            &:hover {
                cursor: pointer;
                background-color: rgba(255,195,131,0.9);
            }
            &:focus {
                outline: none;
            }
        }

        .arrow-right {
            margin-right: 40px;
            right: 0;
            transform: rotate(-90deg);
        }
        .arrow-left {
            margin-left: 40px;
            transform: rotate(90deg);
        }
        &:hover {
          .arrow-left,
          .arrow-right{
            display: block;
          }
        }
    }
}

.featured-collections{
	padding: 65px 0 65px;
    .collectionwrap{
        transition: 400ms;
        position: relative;
        .cardwrap {
          overflow: hidden;
        }
        .arrow-left,
        .arrow-right {
            display: none;
            background: url(../images/template_images/chevron-down.svg) no-repeat;
            background-color: rgba(255,255,255,0.15);
            background-position: 19px;
            border: none;
            border-radius: 5px;
            height: 50px;
            position: absolute;
            top: 50%;
            transition: 400ms;
            width: 50px;
            z-index: 2;
            &:hover {
                cursor: pointer;
                background-color: rgba(255,195,131,0.9);
            }
            &:focus {
                outline: none;
            }
        }

        .arrow-right {
            margin-right: 40px;
            right: 0;
            transform: rotate(-90deg);
        }
        .arrow-left {
            margin-left: 40px;
            transform: rotate(90deg);
        }
        &:hover {
          .arrow-left,
          .arrow-right{
            display: block;
          }
        }
    }
}
.search{
    height: auto;
    width: 100%;
    .searchwrap{
        margin: 0 auto;
        max-width: 1000px;
        p {
            color: $base-light;
            letter-spacing: 3.5px;
            margin-bottom: 20px;
        }
        .search-box {
            border-radius: 5px;
            position: relative;
            
            .background{
	            background-image: url(../images/background-landing.jpg);
				background-size: cover;
	            opacity: .5;
	            height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				z-index: -1;
            }
            
            .search-contents {
	            padding: 50px; 
	            
	            h4{
	              color: $base-light;
	              margin-bottom: 15px;
	            }
	            .search-field{
	              box-sizing: border-box;
	              height: 60px;
	              border: 1px solid rgba(255,255,255,0.45);
	              border-radius: 5px;
	              background-color: rgba(255,255,255,0.15);
	              box-shadow: 0 10px 15px 0 rgba(56,63,75,0.03);
	              padding-left: 20px;
	            }
	            .search-submit{
	              box-sizing: border-box;
	              height: 60px;
	              width: 60px;
	              border: 1px solid $accent;
	              background-color: rgba(255,195,131,0.26);
	              border-radius: 5px;
	              transition: 0.3s;
	            }
	            .search-submit:hover{
	              background-color: $accent;
	           	}
	        }
        }
    }
}
.about{
    background-color: $base-dark;
    height: auto;
    padding: 65px 0;
    width: 100%;

    .aboutwrap{
        margin: 0 auto;
        max-width: 1000px;

        p{
            color: $base-light;
            line-height: 32px;
            position: relative;
            text-align: left;

            a{
                border-bottom: 2px solid $sub-base;
                color: $sub-base;
                margin-left: 4px;
                padding-bottom: 4px;
                transition: padding 0.3s ease;
                white-space: nowrap;

                &:hover{
                    padding-bottom: 6px;
                }
            }
        }
    }
}

.options{
    background-color: $base-dark;
    height: auto;
    padding: 100px 0 60px 0;
    width: 100%;

    .optionswrap{
        margin: 0 auto;
        max-width: 1000px;

        .flex{
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style-type: none;
            margin: 0;
            padding: 0;

            .option{
                color: $base-dark;
                height: 275px;
                margin-bottom: 60px;
                position: relative;
                text-align: center;
                transition: border 0.3s ease;
                width: 31%;

                &:hover{

                    .option-image{
                        border: 2px solid $sub-base;
                        box-shadow: 0 12px 13px 0 rgba(30,30,30,0.05);
                    }
                }

                .option-image{
                    border: 2px solid rgba(14,14,29,0.05);
                    border-radius: 50px;
                    background-color: #FFFFFF;
                    box-shadow: 0 2px 3px 0 rgba(30,30,30,0.05);
                    height: 84px;
                    margin: 0 auto;
                    transition: border 0.3s ease, box-shadow 0.3s ease;
                    width: 84px;

                    img{
                        position: relative;
                        margin: 27px 0;
                    }
                }

                h2{
                    font-size: 22px;
                    padding: 25px 0px;
                }

                p{
                    font-size: 14px;
                    line-height: 22px;
                    padding: 0 45px;
                }

                .option-link{
                    color: $sub-base;
                    font-size: 16px;
                    line-height: 70px;
                }
            }
        }
    }
}



@media screen and (max-width: $mobile-width-400){
    .main{

        .middlewrap{

            h1{
                font-size: 45px;
            }
            h3{
                font-size: 19px;
                margin: 30px 0;
            }
        }
    }

    .about{
        padding: 30px 0;

        .aboutwrap{
            padding: 0 4%;

            p{
                font-size: 16px;
            }
        }
    }

    .optionswrap{
        padding: 0 6%;
    }

}

@media screen and (max-width: $mobile-card-breakpoint){
    .options{

        .optionswrap{

            .flex{

                .option{
                    width: 48%;
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-card-breakpoint-2){
    .options{

        .optionswrap{

            .flex{

                .option{
                    width: 100%;
                }
            }
        }
    }
    
	.search
	    .searchwrap{
	        .search-box {
	            .search-contents {
		            padding: 30px;
		            .search-field{
						width: 100%;
		            }
		            
		            .search-submit{
			            margin-left: 0;
						margin-top: 10px;
						width: 100%;
		            }
		        }
	        }
	    }
	}



@media screen and (max-width: $mobile-max-width){
    .middlewrap{
        padding: 0 6%;
    }
    .collectionwrap{
        padding: 0 6%;
    }
    .searchwrap{
        padding: 0 6%;
    }

    .aboutwrap{
        padding: 0 6%;
    }
    .optionswrap{
        padding: 0 6%;
    }
}
