.main{
    background-image: url(../images/template_images/landing.jpg);
    background-size: cover;
    height: auto;
    width: 100%;

    .middlewrap {
        color: $base-light;
        margin: 0 auto;
        max-width: 1000px;
        position: static;
        padding-top: 210px;
        padding-bottom: 65px;
        text-align: left;

        h1 {
            line-height: 1;
        }

        p {
            line-height: 28px;
            padding-top: 10px;
            padding-right: 260px;
            a {
                letter-spacing: 3.5px;
                color: #FFC383;
                margin-left: 15px;
                border-bottom: 2px solid rgba(255, 195, 131, 0.25);
                transition: border 0.2s;
            }
            a:hover {
              border-bottom: 2px solid #FFC383;
            }
        }
    }
}

.featured-collections, .featured-records{
    background-color: $base-dark;
    height: auto;
    padding: 65px 0;
    width: 100%;
    .collectionwrap{
        margin: 0 auto;
        max-width: 1000px;
        p {
            color: $base-light;
            letter-spacing: 3.5px;
            margin-bottom: 30px;
            a {
                letter-spacing: 3.5px;
                color: #FFC383;
                margin-left: 15px;
                border-bottom: 2px solid rgba(255, 195, 131, 0.25);
                transition: border 0.2s;
            }
            a:hover {
              border-bottom: 2px solid #FFC383;
            }
        }
    }
}
.featured-records{
    .collectionwrap{
        transition: 400ms;
        .cardwrap{
            position: relative;
        }
        .arrow-left,
        .arrow-right {
            display: none;
            background: url(../images/template_images/chevron-down.svg) no-repeat;
            background-color: rgba(255,255,255,0.15);
            background-position: 19px;
            border: none;
            border-radius: 5px;
            height: 50px;
            position: absolute;
            top: 128%;
            transition: 400ms;
            width: 50px;
            z-index: 2;
            &:hover {
                cursor: pointer;
                background-color: rgba(255,195,131,0.9);
            }
            &:focus {
                outline: none;
            }
        }

        .arrow-right {
            margin-right: 40px;
            right: 0;
            transform: rotate(-90deg);
        }
        .arrow-left {
            margin-left: 40px;
            transform: rotate(90deg);
        }
        &:hover {
          .arrow-left,
          .arrow-right{
            display: block;
          }
        }
    }
}

.featured-collections{
    .collectionwrap{
        transition: 400ms;
        .cardwrap{
            position: relative;
        }
        .arrow-left,
        .arrow-right {
            display: none;
            background: url(../images/template_images/chevron-down.svg) no-repeat;
            background-color: rgba(255,255,255,0.15);
            background-position: 19px;
            border: none;
            border-radius: 5px;
            height: 50px;
            position: absolute;
            top: 72.5%;
            transition: 400ms;
            width: 50px;
            z-index: 2;
            &:hover {
                cursor: pointer;
                background-color: rgba(255,195,131,0.9);
            }
            &:focus {
                outline: none;
            }
        }

        .arrow-right {
            margin-right: 40px;
            right: 0;
            transform: rotate(-90deg);
        }
        .arrow-left {
            margin-left: 40px;
            transform: rotate(90deg);
        }
        &:hover {
          .arrow-left,
          .arrow-right{
            display: block;
          }
        }
    }
}
.search{
    background-color: $base-dark;
    height: auto;
    padding: 65px 0;
    width: 100%;
    .searchwrap{
        margin: 0 auto;
        max-width: 1000px;
        p {
            color: $base-light;
            letter-spacing: 3.5px;
            margin-bottom: 30px;
        }
        .search-box {
            height: 188px;
            width: calc(100% - 80px);
            padding-left: 45px;
            padding-top: 60px;
            border-radius: 5px;
            background-image: url(../images/template_images/landing.jpg);
            h4{
              color: $base-light;
              margin-bottom: 15px;
            }
            .search-field{
              box-sizing: border-box;
              height: 60px;
              width: calc(100% - 115px);
              border: 1px solid rgba(255,255,255,0.45);
              border-radius: 5px;
              background-color: rgba(255,255,255,0.15);
              box-shadow: 0 10px 15px 0 rgba(56,63,75,0.03);
            }
            .search-submit{
              box-sizing: border-box;
              height: 60px;
              width: 60px;
              border: 1px solid rgba(255,255,255,0.45);
              border-radius: 5px;
              background-color: rgba(255,255,255,0.15);
              transition: border 0.2s;
            }
            .search-submit:hover{
              border: 1px solid #FFC383;
              background-color: rgba(255,195,131,0.26);
            }
        }
    }
}
.about{
    background-color: $base-dark;
    height: auto;
    padding: 65px 0;
    width: 100%;

    .aboutwrap{
        margin: 0 auto;
        max-width: 1000px;

        p{
            color: $base-light;
            line-height: 32px;
            position: relative;
            text-align: left;

            a{
                border-bottom: 2px solid $sub-base;
                color: $sub-base;
                margin-left: 4px;
                padding-bottom: 4px;
                transition: padding 0.3s ease;
                white-space: nowrap;

                &:hover{
                    padding-bottom: 6px;
                }
            }
        }
    }
}

.options{
    background-color: $base-dark;
    height: auto;
    padding: 100px 0 60px 0;
    width: 100%;

    .optionswrap{
        margin: 0 auto;
        max-width: 1000px;

        .flex{
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style-type: none;
            margin: 0;
            padding: 0;

            .option{
                color: $base-dark;
                height: 275px;
                margin-bottom: 60px;
                position: relative;
                text-align: center;
                transition: border 0.3s ease;
                width: 31%;

                &:hover{

                    .option-image{
                        border: 2px solid $sub-base;
                        box-shadow: 0 12px 13px 0 rgba(30,30,30,0.05);
                    }
                }

                .option-image{
                    border: 2px solid rgba(14,14,29,0.05);
                    border-radius: 50px;
                    background-color: #FFFFFF;
                    box-shadow: 0 2px 3px 0 rgba(30,30,30,0.05);
                    height: 84px;
                    margin: 0 auto;
                    transition: border 0.3s ease, box-shadow 0.3s ease;
                    width: 84px;

                    img{
                        position: relative;
                        margin: 27px 0;
                    }
                }

                h2{
                    font-size: 22px;
                    padding: 25px 0px;
                }

                p{
                    font-size: 14px;
                    line-height: 22px;
                    padding: 0 45px;
                }

                .option-link{
                    color: $sub-base;
                    font-size: 16px;
                    line-height: 70px;
                }
            }
        }
    }
}



@media screen and (max-width: $mobile-width-400){
    .main{

        .middlewrap{

            h1{
                font-size: 45px;
            }
            h3{
                font-size: 19px;
                margin: 30px 0;
            }
        }
    }

    .about{
        padding: 30px 0;

        .aboutwrap{
            padding: 0 4%;

            p{
                font-size: 16px;
            }
        }
    }

    .optionswrap{
        padding: 0 6%;
    }

}

@media screen and (max-width: $mobile-card-breakpoint){
    .options{

        .optionswrap{

            .flex{

                .option{
                    width: 48%;
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-card-breakpoint-2){
    .options{

        .optionswrap{

            .flex{

                .option{
                    width: 100%;
                }
            }
        }
    }
}


@media screen and (max-width: $mobile-max-width){
    .middlewrap{
        padding: 0 6%;
    }
    .collectionwrap{
        padding: 0 6%;
    }
    .searchwrap{
        padding: 0 6%;
    }

    .aboutwrap{
        padding: 0 6%;
    }
    .optionswrap{
        padding: 0 6%;
    }
}
