.button-primary {
  letter-spacing: 3.5px;
  display: block;
  color: $accent;
  border: 2px solid $accent-translucent-25;
  font-family: $medium;
  transition: border 0.2s;
  padding: 15px 20px;
  white-space: nowrap;
  width: fit-content;
  text-transform: uppercase;
  &:hover {
    border: 2px solid $accent;
  }
}


.button-tertiary {
  letter-spacing: 3.5px;
  color: $accent;
  border-bottom: 2px solid $accent-translucent-25;
  font-family: $medium;
  transition: border 0.2s;
  padding-bottom: 5px;
  white-space: nowrap;
  text-transform: uppercase;
  &:hover {
    border-bottom: 2px solid $accent;
  }
}
