.button-primary {
  letter-spacing: 3.5px;
  display: block;
  color: $accent;
  background: $base-dark-translucent-15;
  border: 2px solid $accent-translucent-25;
  font-family: $medium;
  transition: border 0.2s;
  text-decoration: none;
  line-height: 1;
  padding: 15px 20px;
  white-space: nowrap;
  width: fit-content;
  text-transform: uppercase;
  text-align: center;
  &:hover {
    border: 2px solid $accent;
    background: $accent-translucent-25;
  }
}


.button-tertiary {
  letter-spacing: 3.5px;
  color: $accent;
  border-bottom: 2px solid $accent-translucent-25;
  font-family: $medium;
  transition: border 0.2s;
  padding-bottom: 5px;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    border-bottom: 2px solid $accent;
  }
}
