#pagination {
	display: flex;
	align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: $base-light;
  font-family: $medium;

    .pagi-right {
		margin-left: 20px;
    margin-top: 40px;
		cursor: pointer;
	}

    .page-numbers{
        max-width: 280px;
        margin: 40px auto 0;

        span.active {
            color: $accent;
        }
        span {
            cursor: pointer;
            margin: 0 5px;
            font-size: 16px;

            transition: .2s all ease-in-out;
        }
        span:hover {
            color: $accent;
        }
    }
}

@media screen and (max-width: $mobile-card-breakpoint-2){
  #pagination {
    .pagi-right {
      margin-right: 20px;
    }
  }
}
